@media screen and (max-width:720px) {
    .content_container{
        height: 100vh;
        img{
            height: 100%;
        }
        .content_game{
            width: 40%;
            top: 40%;
            left: 5%;

            h1{
                font-size: 4rem;
            }
        }
    }
}
@media screen and (max-width:480px) {
    .content_container{
        .content_game{
            width: 50%;
            left: 5%;
            h1{
                font-size: 3rem;
            }
        }
    }
}