.app{
    overflow: hidden;
    header{
        display: block;
    }
    .menu_burger{
        display: none;
    }
    section{
        display: flex;
        justify-content: space-between;
    }
}